*,
*:before,
*:after {
  box-sizing: border-box;
}

img {
  height: auto;
}

.text-0 {
  font-size: 5rem;
  line-height: 1;
  margin: 0;
}
h1,
.text-1 {
  font-size: 3.4rem;
  margin: 0;
}
h2,
.text-2 {
  font-size: 2.2rem;
  margin: 0;
}
h3,
.text-3 {
  font-size: 1.5rem;
  margin: 0;
}
h4,
p,
.text-4 {
  font-size: 19px;
}

a {
  text-decoration: none;
  color: #1a1a1a;
}

ul {
  list-style-type: none;
}

body {
  background: #f8e7dc;
  margin: 0;
}
.container {
  overflow: hidden;
}

@media (max-width: 768px) {
  .text-2 {
    font-size: 1.8rem;
  }
  .text-1 {
    font-size: 2.4rem;
  }
}

/* HEADER */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10% 30px 10%;
}

.logo {
  width: 180px;
  height: auto;
  /* margin-right: auto; voci menu tutte a destra */
}

.menu ul {
  padding: 0;
  margin: 0;
}
.menu li {
  display: inline-block;
}
.menu a {
  padding: 10px 15px;
  display: block;
  text-transform: uppercase;
  font-weight: 600;
}
.button {
  background-color: #ec1971;
  padding: 15px 18px;
  color: #fff;
  border-radius: 5px;
  text-transform: uppercase;
  font-size: 16px;
}

@media (max-width: 768px) {
  .button {
    font-size: 14px;
    padding: 12px 15px;
  }
}

.button:hover {
  background: #c70d5a;
}

.hamburger {
  display: none;
}

@media (max-width: 768px) {
  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0;
    background: #ffffffef;
    z-index: 9999;
  }

  .menu {
    position: absolute;
    height: 100vh;
    top: 113px;
    right: -100%;
    width: 100%;
    background: #fff;
    transition: all 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
    z-index: 100;
  }

  .menu li {
    width: 100%;
    padding: 20px 15px;
  }

  .logo {
    width: 150px;
    height: auto;
  }

  .header.button {
    position: absolute;
    top: 36px;
    right: 75px;
  }

  .hamburger {
    display: block;
    width: 40px;
    height: 35px;
    margin-top: 9px;
    margin-right: 18px;
  }
  .hamburger span {
    width: 33px;
    height: 2px;
    background: #1a1a1a;
    margin-top: 7px;
    display: block;
    transition: all 0.15s cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  .menu-open .hamburger span:nth-child(1) {
    transform: translateY(5px) rotate(45deg);
  }
  .menu-open .hamburger span:nth-child(2) {
    transform: translateY(-4px) rotate(-46deg);
  }
  .menu-open .menu {
    right: 0;
    height: 100vh;
    z-index: 9999;
  }
}

/* HERO */

.hero {
  display: flex;
  padding: 3% 10%;
  overflow: hidden;
}

.hero__text {
  width: 50%;
  padding: 3% 3%;
}

.hero__text p {
  margin: 30px 0;
  font-size: 19px;
}

.hero__text h1 {
  margin: 0;
}

.hero__img {
  width: 50%;
}

@media (max-width: 768px) {
  .hero {
    margin-top: 120px;
    padding: 3% 3%;
  }
  .hero__text h1 {
    font-size: 2.8rem;
  }

  .hero__text p {
    font-size: 1.1rem;
  }

  .hero__img {
    margin: 40px 0;
  }

  .reverse {
    flex-direction: column-reverse;
  }

  .grid h2 {
    margin-bottom: 20px;
    font-size: 2.5rem;
  }
}

/* UTILITIES */

.grid {
  display: flex;
  padding: 5% 10%;
  flex-wrap: wrap;
  align-items: center;
}

.col-25 {
  width: 25%;
}
.col-33 {
  width: 33%;
}
.col-50 {
  width: 50%;
}
.col-60 {
  width: 60%;
}
.col-70 {
  width: 70%;
}
.col-80 {
  width: 80%;
}
.col-100 {
  width: 100%;
}

@media (max-width: 768px) {
  .col-25,
  .col-33,
  .col-50,
  .col-60,
  .col-70,
  .col-80,
  .col-100 {
    width: 100%;
    padding: 0;
  }
  .hero {
    flex-wrap: wrap;
  }

  .hero__text,
  .hero__img {
    width: 100%;
  }
}

.img-res {
  width: 100%;
  height: auto;
}

.spacer-t {
  margin-top: 50px;
}

.spacer-b {
  margin-top: 50px;
}

.text-center {
  text-align: center;
}

.line-height {
  line-height: 26px;
}
.p-1 {
  padding: 10px;
}
.p-2 {
  padding: 20px;
}
.pt-1 {
  padding-top: 10px;
}
.pt-2 {
  padding-top: 30px;
}
.pt-3 {
  padding-top: 60px;
}

.pb-1 {
  padding-bottom: 10px;
}
.pb-2 {
  padding-bottom: 30px;
}
.pb-3 {
  padding-bottom: 60px;
}

.pl-1 {
  padding-left: 10px;
}
.pl-2 {
  padding-left: 30px;
}
.pl-3 {
  padding-left: 60px;
}

.m-1 {
  margin: 10px 0;
}

.m-2 {
  margin: 20px 0;
}
.m-3 {
  margin: 30px 0;
}

.mb-1 {
  margin-bottom: 10px;
}

.mb-2 {
  margin-bottom: 20px;
}

.mb-3 {
  margin-bottom: 30px;
}
/* UTILITIES */

/* COVER BANNER */

.banner {
  height: 50vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(/img/banner.png) center center no-repeat;
  background-size: cover;
  color: #fff;
  position: relative;
  padding: 10%;
}

.overlay {
  height: 50vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 6) 100%);
}

.banner__text {
  text-align: center;
  max-width: 1000px;
  z-index: 100;
}

@media (max-width: 768px) {
  .banner {
    margin-top: 112px;
  }
  .banner__text p {
    font-size: 1.2rem;
  }
}

/* COVER BANNER */

/* CARD */

.card {
  display: block;
  position: relative;
  width: 100%;
}

.card__text {
  position: absolute;
  bottom: 20px;
  left: 20px;
}

.card img {
  border-radius: 5px;
}

/* CARD */

/* CTA */

.cta {
  height: 50vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(/img/cta.jpg) no-repeat center center;
  background-size: cover;
  color: #fff;
  position: relative;
  padding: 10%;
}

.cta__text {
  text-align: center;
  max-width: 1000px;
  z-index: 100;
}

/* FOOTER */

.footer {
  background: #fff;
}

.footer .logo {
  margin-bottom: -20px;
}

.footer ul {
  padding: 0;
}
